Source: alsa-lib
Section: libs
Priority: optional
Maintainer: Debian ALSA Maintainers <pkg-alsa-devel@lists.alioth.debian.org>
Uploaders: Jordi Mallach <jordi@debian.org>, Mikael Magnusson <mikma@users.sourceforge.net>, Elimar Riesebieter <riesebie@lxtec.de>
Build-Depends: debhelper (>= 6), quilt (>= 0.40), autotools-dev, doxygen, libc6-dev-powerpc [ppc64], libc6-dev-i386 [amd64], libc6-dev-amd64 [i386], libc6-dev-ppc64 [powerpc], libc6-dev-s390x [s390], libc6-dev-sparc64 [sparc], lib32gcc1 [amd64 ppc64], lib64gcc1 [i386 powerpc sparc s390], gcc-multilib [amd64 i386 powerpc ppc64 s390 sparc], python2.4-dev
Standards-Version: 3.7.3
Homepage: http://www.alsa-project.org/
Vcs-Svn: svn://svn.debian.org/pkg-alsa/trunk/alsa-lib
Vcs-Browser: http://svn.debian.org/wsvn/pkg-alsa/trunk/alsa-lib/

Package: libasound2
Architecture: i386 ia64 alpha amd64 arm armeb armel hppa m32r m68k mips mipsel powerpc ppc64 s390 s390x sh3 sh3eb sh4 sh4eb sparc
Section: libs
Depends: ${shlibs:Depends}
Suggests: libasound2-plugins (>= 1.0.9)
Conflicts: libasound2-plugins (<< 1.0.9)
Description: ALSA library
 This package contains the ALSA library and its standard
 plugins.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: libasound2-dev
Architecture: i386 ia64 alpha amd64 arm armeb armel hppa m32r m68k mips mipsel powerpc ppc64 s390 s390x sh3 sh3eb sh4 sh4eb sparc
Section: libdevel
Provides: libasound-dev
Depends: libc6-dev | libc-dev, libasound2 (= ${binary:Version})
Suggests: libasound2-doc
Conflicts: libasound-dev, alsa-headers
Replaces: libasound2 (<< 0.9.0rc7-2), alsa-headers
Description: ALSA library development files
 This package contains files required for developing software
 that makes use of libasound2, the ALSA library.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: lib64asound2
Architecture: sparc s390 i386 powerpc
Section: libs
Depends: libasound2 (= ${binary:Version}), ${shlibs:Depends}, ${bilib:depends}
Suggests: libasound2-plugins (>= 1.0.9)
Conflicts: libasound2-plugins (<< 1.0.9)
Description: ALSA library (64 bit)
 This package contains the ALSA library (64 bit) and its standard
 plugins.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: lib64asound2-dev
Architecture: sparc s390 i386 powerpc
Section: libdevel
Depends: lib64asound2 (= ${binary:Version}), libasound2-dev (= ${binary:Version}), ${bidev:depends}
Suggests: libasound2-doc
Description: ALSA library development files (64 bit)
 This package contains files required for developing software
 that makes use of lib64asound2, the ALSA library (64 bit).
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: lib32asound2
Architecture: amd64 ppc64
Section: libs
Depends: libasound2 (= ${binary:Version}), ${shlibs:Depends}, ${bilib:depends}
Suggests: libasound2-plugins (>= 1.0.9)
Conflicts: libasound2-plugins (<< 1.0.9), ia32-libs (<< 1.9)
Replaces: ia32-libs (<< 1.9)
Description: ALSA library (32 bit)
 This package contains the ALSA library (32 bit) and its standard
 plugins.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: lib32asound2-dev
Architecture: amd64 ppc64
Section: libdevel
Depends: lib32asound2 (= ${binary:Version}), libasound2-dev (= ${binary:Version}), ${bidev:depends}
Suggests: libasound2-doc
Description: ALSA library development files (32 bit)
 This package contains files required for developing software
 that makes use of lib32asound2, the ALSA library (32 bit).
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: libasound2-doc
Architecture: all
Section: doc
Suggests: libasound2-dev
Description: ALSA library developer documentation
 This package contains documentation for the ALSA library.
 .
 ALSA is the Advanced Linux Sound Architecture.
