Source: alsa-lib
Section: libs
Priority: optional
Maintainer: Debian ALSA Maintainers <pkg-alsa-devel@lists.alioth.debian.org>
Uploaders: Jordi Mallach <jordi@debian.org>, Steve Kowalik <stevenk@debian.org>, David B. Harris <dbharris@debian.org>, Thomas Hood <jdthood@aglu.demon.nl>
Build-Depends: debhelper (>= 4.1.51), dpatch, autotools-dev, doxygen
Standards-Version: 3.6.1.0

Package: libasound2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: alsalib0.3.0, alsalib0.3.2, alsalib
Conflicts: alsalib0.1.3, alsalib0.3.0, alsalib0.3.2, alsalib, libasound2-plugins (<< 1.0.9)
Suggests: libasound2-plugins
Description: ALSA library
 This package contains the ALSA library and its standard
 plugins.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: libasound2-dev
Architecture: any
Section: libdevel
Depends: libc6-dev | libc-dev, libasound2 (= ${Source-Version})
Suggests: libasound2-doc
Provides: libasound-dev
Replaces: alsalib0.3.0-dev, alsalib0.3.2-dev, libasound0 (<= 0.4.1-2), libasound2 (<< 0.9.0rc7-2)
Conflicts: libasound-dev
Description: ALSA library development files
 This package contains files required for developing software
 that makes use of libasound2, the ALSA library.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: libasound2-doc
Architecture: all
Section: libdevel
Suggests: libasound2-dev
Description: ALSA library developer documentation
 This package contains documentation for the ALSA library.
 .
 ALSA is the Advanced Linux Sound Architecture.
