#!/usr/bin/make -f
#
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PACKAGE:= alsa-lib
include /usr/share/dpatch/dpatch.make

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -g -Wall

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ifeq (,$(findstring no-jack-dep,$(DEB_BUILD_OPTIONS)))
NO_JACK_DEP := no
else
NO_JACK_DEP := yes
endif

configure-stamp: patch-stamp
	dh_testdir
	-rm -f config.sub config.guess
	ln -s /usr/share/misc/config.sub config.sub
	ln -s /usr/share/misc/config.guess config.guess
	./configure --prefix=/usr \
		    --mandir=\$${prefix}/share/man \
		    --infodir=\$${prefix}/share/info \
		    --host=$(DEB_HOST_GNU_TYPE) \
		    --build=$(DEB_BUILD_GNU_TYPE) \
		    --enable-static
	touch configure-stamp

configure: configure-stamp

build-arch-stamp: configure-stamp
	dh_testdir
	$(MAKE) CFLAGS="$(CFLAGS)"
ifneq ($(NO_JACK_DEP),yes)
	$(MAKE) -C src/pcm/ext jack CFLAGS="$(CFLAGS)"
endif
	touch build-arch-stamp

build-arch: build-arch-stamp

build-indep-stamp: build-arch-stamp
	dh_testdir
	$(MAKE) doc CFLAGS="$(CFLAGS)"
	touch build-indep-stamp

build-indep: build-indep-stamp

build: build-arch build-indep

install-arch: build-arch-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	dh_installdirs -a
	install -d -m 755 debian/tmp/usr/lib/alsa-lib
ifneq ($(NO_JACK_DEP),yes)
#	Install real plugin
#	Upstream makefile is broken ...
#	$(MAKE) -C src/pcm/ext install-jack DESTDIR=$(CURDIR)/debian/tmp
	install -m 0644 -p -D src/pcm/ext/.libs/libasound_module_pcm_jack.so.2.0.0 debian/tmp/usr/lib/alsa-lib/libasound_module_pcm_jack.so.2.0.0
else
#	Install null plugin (to make dh_install happy)
	touch debian/tmp/usr/lib/alsa-lib/libasound_module_pcm_jack.so.2.0.0
endif
	dh_install -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installchangelogs -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a

install-indep: build-indep-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	dh_installdirs -i
	dh_install -i
	dh_installdocs -i
	dh_installexamples -i
	cp -r doc/doxygen/html debian/libasound2-doc/usr/share/doc/libasound2-doc
	dh_installchangelogs -i
	dh_compress -i
	dh_fixperms -i

binary-arch: build-arch-stamp install-arch
	dh_makeshlibs -plibasound2  -V'libasound2 (>> 1.0.8)'
	dh_makeshlibs -plibasound2-plugins -n
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary-indep: build-indep-stamp install-indep
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-arch binary-indep

clean: unpatch
	dh_testdir
	dh_testroot
	-$(MAKE) distclean
	-rm -f configure-stamp build-arch-stamp build-indep-stamp
	-rm -f config.sub config.guess config.status config.cache
	-rm -rf doc/doxygen
	dh_clean

.PHONY: configure build-arch build-indep build install-arch install-indep binary-arch binary-indep binary clean
